<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/common.css">
</head>
<body>  
    

    <div class="badgeBox">
        <!--____tag.html____-->
        <div class="tag e-tag">
            <span class="circle">P</span>
            <span class="value">15</span>
        </div>
        <!--____tag.html____-->


        <!--____badge.html____-->
        <span class="badge ebadge-12">12시간마다</span>
        <!--____badge.html____-->
    </div>



</body>
</html>