<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/common.css">
</head>
<body>  
    
    <header class="header">
        <a href="#" class="link-back"><img src="../assets/img/ico-back.svg" alt="뒤로가기"></a>
        <a href="#" class="link-contact"><img src="../assets/img/ico-contact.svg" alt="문의하기"></a>
    </header>

</body>
</html>